include README.md
recursive-include octoprint_fix_crlf_progress_reporting/templates *
recursive-include octoprint_fix_crlf_progress_reporting/translations *
recursive-include octoprint_fix_crlf_progress_reporting/static *
